<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Online exam</title>
  </head>
  <body>
    <form action="/users/addQuestion" method="post">
      Question :<input type = "text" name = "questionText" placeholder="Enter the question"><br><br>
      Option a:<input type="text" name="a" placeholder="Enter the option a"><br><br>
      Option b:<input type="text" name="b" placeholder="Enter the option b"><br><br>
      Option c:<input type="text" name="c" placeholder="Enter the option c"><br><br>
      Option d:<input type="text" name="d" placeholder="Enter the option d"><br><br>
      <!--<input type="number" name="topic" placeholder="Enter the topic"><br>-->
      Answer: <input type="text" name="answer"><br><br>
      <button type="submit" name="add">Add Question</button>
    </form>
  </body>
</html>
