<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Online Exam Application</title>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
	</head>
	<body>
		<div id="vue-app">
			<h1>Question</h1>
			<p>{{Question[counter].text}}</p>
				<p v-for="option in Question[counter].options">
					<input type="radio" name="optionSelected" value="">{{option}}
				</p>
			<button v-on:click="counter -= 1">Prev</button>
			<button v-on:click="counter += 1">Next</button>
		</div>
		<script>
		var app = new Vue({
			el:'#vue-app',
			data: {
				Question: [],
				counter: 0
			},
			created: function () {
				this.loadQuestion();
			},
			methods: {
				loadQuestion: function () {
					var app = this;
					axios.get('http://localhost:3000/users/question')
					.then(function (response) {
					app.Question = response.data;
					})
					.catch(function (error) {
						console.log(error);
					});
				}
			}
		});
		</script>
	</body>
</html>
